@font-face {
  font-family: "Roboto";
  src:         url("../fonts/Roboto-Light.ttf") format('opentype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/Roboto-Regular.ttf") format('opentype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/Roboto-Medium.ttf") format('opentype');
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/Roboto-Bold.ttf") format('opentype');
  font-weight: 700;
  font-style:  normal;
}

