@import "variables";

@media (any-hover: hover) {
  .btn:hover {
    background: $bgColor;
    color:      $black;
  }
  .btn-contour:not(.active):hover {
    color:  $primaryColor;
    border: 2px solid $primaryColor;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: $bgColor !important;
  }
  .basket .quantity button:hover {
    color: $primaryColor;
  }
}

* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Roboto', sans-serif;
  transition:  all linear 0.3s;
  color:       $black;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width:  100%;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
  background:     #F8F8FA;
}

main {
  flex:     1 0 auto;
  position: relative;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

ul {
  list-style: none;
}

img {
  width:   100%;
  display: flex;
}

h2 {
  font-size:      34px;
  font-weight:    500;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

p, a {
  font-size: 20px;
}

button {
  border: none;
}

.btn {
  display:        inline-block;
  background:     $primaryColor;
  color:          $white;
  padding:        19px;
  font-size:      20px;
  font-weight:    500;
  max-width:      187px;
  width:          100%;
  text-align:     center;
  text-transform: uppercase;
  border-radius:  5px;
  cursor:         pointer;
  &:active {
    background: $bgColor;
    color:      $black;
  }
}

.btn-second {
  background: $secondaryColor;
  color:      $black;
}

.btn-contour {
  color:         #464646;
  background:    transparent;
  border-radius: 5px;
  border:        2px solid #464646;
  padding:       9px 23px;
  cursor:        pointer;
  &.active {
    background: $primaryColor;
    color:      $white;
    border:     2px solid $primaryColor;
  }
}

.popup {
  position:        fixed;
  top:             0;
  left:            0;
  width:           100%;
  height:          100%;
  display:         flex;
  justify-content: center;
  align-items:     center;
  z-index:         1000;
  background:      rgba(70, 70, 70, 0.54);
  opacity:         0;
  visibility:      hidden;
  h2 {
    margin-bottom: 0 !important;
  }
  &.show {
    visibility: visible;
    opacity:    1;
  }
  &-inner {
    max-width:      828px;
    width:          100%;
    background:     $white;
    border-radius:  10px;
    display:        flex;
    flex-direction: column;
  }
  &-content {
    padding:  4.9% 8.5%;
    overflow: auto;
    form {
      label {
        height: 65px;
        span {
          background: $white;
        }
        input {
          border-radius: 5px;
        }
        span, input {
          font-size: 20px;
        }
      }
      .btn {
        max-width:     initial;
        font-size:     16px;
        padding:       17px;
        margin-bottom: 15px;
      }
      .registered, .register-now, .forgot-password {
        color: $primaryColor;
      }
      .checkbox {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        label {
          display:       flex;
          height:        initial;
          margin-bottom: 0;
        }
        input {
          width:        18px;
          height:       18px;
          margin-right: 15px;
        }
      }
    }
  }
  &-title {
    background:      $secondaryColor;
    position:        relative;
    border-radius:   10px 10px 0 0;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding:         25px 8%;
  }
}

.close {
  width:      27px;
  height:     27px;
  cursor:     pointer;
  position:   relative;
  transition: 0.3s linear;
  &:after, &:before {
    content:       "";
    width:         100%;
    height:        3px;
    position:      absolute;
    top:           50%;
    left:          0;
    background:    $black;
    border-radius: 3px;
    z-index:       10;
  }
  &:after, &:before {
    transform: rotate(-45deg);
  }
  &:before {
    transform: rotate(45deg);
  }
}

.footer {
  flex: 0 0 auto;
}

.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1690px;
  padding:   0 45px;
  margin:    0 auto;
  position:  relative;
}

form {
  display:         flex;
  justify-content: space-between;
  flex-wrap:       wrap;
  label {
    position: relative;
    height:   60px;
    span {
      position:   absolute;
      top:        0;
      left:       25px;
      font-size:  24px;
      padding:    0 10px;
      background: #F8F8FA;
      color:      #252525;
      transform:  translate(0, -50%);
    }
  }
  textarea {
    resize: none;
  }
  input:not([type="radio"]), textarea {
    width:      100%;
    height:     100%;
    background: transparent;
    border:     1px solid $bgColor;
    font-size:  24px;
    padding:    15px;
    &:focus {
      border: 2px solid $primaryColor;
    }
  }
  .textarea {
    width: 100%;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: $primaryColor !important;
  &:after {
    font-size: 44px !important;
  }
}

.swiper-container {
  .swiper-pagination-bullets {
    bottom: 0 !important;
    .swiper-pagination-bullet {
      width:      18px;
      height:     18px;
      background: transparent;
      border:     2px solid $primaryColor;
      opacity:    1;
      &-active {
        background: $primaryColor;
      }
    }
  }
}

.email, .call, .address {
  svg {
    width:        20px;
    margin-right: 15px;
  }
}

.email {
  display:     flex;
  align-items: center;
}

.call {
  display:     flex;
  align-items: flex-start;
  .call-description {
    display:        flex;
    flex-direction: column;
  }
}

.address {
  display:     flex;
  align-items: center;
  svg {
    width: 14px;
  }
}

.socials {
  &-images {
    display: flex;
  }
  &-image {
    margin-right: 7px;
    width:        45px;
    height:       45px;
  }
}

.more {
  display:         flex;
  justify-content: flex-end;
  color:           $primaryColor;
  position:        relative;
  padding-right:   25px;
  font-size:       24px;
  &:after {
    content:       "";
    position:      absolute;
    top:           50%;
    right:         0;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 12px solid $primaryColor;
    transform:     translate(0, -50%) rotate(90deg);
  }
}

.header-profile, .header-comparison, .header-favorites, .header-basket, .header-reviews, .header-viewed, .header-ordering {
  display:     flex;
  align-items: center;
  cursor:      pointer;
  p {
    font-size:   18px;
    font-weight: 500;
  }
  svg {
    width: 30px;
  }
}

.header-profile {
  svg {
    margin-right: 5px;
  }
}

.quantity, .quantity-buttons {
  display:     flex;
  align-items: center;
  button, input {
    font-size:   24px;
    font-weight: 500;
  }
  button {
    cursor:     pointer;
    background: none;
    &:active {
      color: $primaryColor;
    }
  }
  label {
    max-width: 50px;
  }
  input {
    width:      100%;
    text-align: center;
    border:     none;
  }
}

@media screen and (max-width: 1150px) {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
    max-width: 130px;
    padding:   14px;
  }
  .btn-contour {
    border-radius: 5px;
    border:        1px solid #464646;
    padding:       9px 23px;
    &.active {
      border: 1px solid $primaryColor;
    }
  }
  .email, .call {
    svg {
      width:        14px;
      margin-right: 10px;
    }
  }
  .address {
    svg {
      width: 10px;
    }
  }
  .more {
    padding-right: 15px;
    font-size:     16px;
    &:after {
      border-left:   5px solid transparent;
      border-right:  4px solid transparent;
      border-bottom: 9px solid $primaryColor;
    }
  }
  .quantity, .quantity-buttons {
    button, input {
      font-size: 14px;
    }
    label {
      max-width: 25px;
    }
  }
  .socials {
    &-image {
      margin-right: 5px;
      width:        32px;
      height:       32px;
    }
  }
  form {
    label {
      height: 45px;
      span {
        left:      15px;
        font-size: 16px;
        padding:   0 8px;
      }
    }
    textarea {
      font-size: 16px;
    }
    input:not([type="radio"]), textarea {
      font-size: 16px;
    }
  }
  .popup {
    h2 {
      font-size: 20px;
    }
    &-inner {
      border-radius: 8px;
      max-width:     678px;
    }
    &-title {
      padding:       18px 25px;
      border-radius: 8px 8px 0 0;
    }
    &-content {
      form {
        label {
          height: 50px;
          span {
            background: $white;
          }
          input {
            border-radius: 3px;
          }
          span, input {
            font-size: 16px;
          }
        }
        .btn {
          padding:       13px;
          margin-bottom: 10px;
        }
        .forgot-password, .register-now {
          font-size: 16px;
        }
        .checkbox {
          input {
            width:        15px;
            height:       15px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .close {
    width:  20px;
    height: 20px;
    &:after, &:before {
      height:        2px;
      border-radius: 2px;
    }
  }
  .swiper-container {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width:  12px;
        height: 12px;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    color: $primaryColor !important;
    &:after {
      font-size: 25px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .btn {
    padding:       13px;
    font-size:     14px;
    font-weight:   400;
    border-radius: 3px;
  }
  .more {
    padding-right: 10px;
    font-size:     12px;
    &:after {
      border-left:   3px solid transparent;
      border-right:  3px solid transparent;
      border-bottom: 5px solid $primaryColor;
    }
  }
  form {
    label {
      height: 40px;
      span {
        font-size: 14px;
        padding:   0 5px;
      }
    }
    textarea {
      font-size: 14px;
    }
    input:not([type="radio"]), textarea {
      font-size: 14px;
    }
  }
  .email, .call {
    svg {
      width:        10px;
      margin-right: 6px;
    }
  }
  .address {
    svg {
      width: 7px;
    }
  }
  .popup {
    h2 {
      font-size: 16px;
    }
    &-inner {
      border-radius: 0;
      height:        100%;
      background:    #F8F8FA;
    }
    &-title {
      border-radius: 0;
      padding:       14px 20px;
    }
    &-content {
      form {
        label {
          height: 40px;
          span {
            background: #F8F8FA;
          }
          input {
            border-radius: 2px;
          }
          span, input {
            font-size: 14px;
          }
        }
        .btn {
          padding: 12px;
        }
        .checkbox {
          input {
            width:        14px;
            height:       14px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .close {
    width:  17px;
    height: 17px;
    &:after, &:before {
      height: 1px;
    }
  }
  .socials {
    &-image {
      margin-right: 5px;
      width:        27px;
      height:       27px;
    }
  }
  .swiper-container {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width:  8px;
        height: 8px;
        border: 1px solid $primaryColor;
      }
    }
  }
  .quantity, .quantity-buttons {
    button, input {
      font-size: 12px;
    }
    label {
      max-width: 20px;
    }
  }
}