@import "./variables";

@media (any-hover: hover) {
}

.home {
  h2 {
    margin-bottom: 5.63%;
  }
  .basket {
    h2 {
      margin-bottom: 0;
    }
  }
  .banner {
    padding-top: 4.7%;
    .container {
      max-width: 1800px;
    }
    .slider-top {
      margin-bottom: 36px;
    }
    .slider-bottom {
      position:    relative;
      width:       87.3%;
      margin-left: auto;
      .swiper-button-prev {
        opacity:        1;
        pointer-events: auto;
        cursor:         pointer;
      }
      .swiper-container {
        margin-left: 10.44%;
        .swiper-wrapper {
          .swiper-slide {
            height: 10.4vw;
            cursor: pointer;
            img {
              border-radius: 10px;
              height:        100%;
            }
          }
        }
      }
    }
  }
  .products {
    padding-top: 7.63%;
  }
  .bestsellers {
    padding-top: 6.9%;
  }
  .advantage {
    padding-top: 6.9%;
    p {
      font-size:   24px;
      font-weight: 500;
    }
    &-list {
      display:         flex;
      justify-content: space-between;
      max-width:       1138px;
      margin:          0 auto;
    }
    &-item {
      max-width:     324px;
      width:         32%;
      background:    $white;
      text-align:    center;
      border-radius: 10px;
      box-shadow:    0 3px 40px 0 rgba(56, 69, 249, 0.14);
      padding:       5% 5% 3.67%;
      .item-image {
        width:      58%;
        margin:     0 auto 21%;
        text-align: center;
        span {
          font-family: "Montserrat", sans-serif;
          font-size:   100px;
          font-weight: 700;
          line-height: 1;
          font-style:  italic;
          color:       $primaryColor;
        }
      }
      &:nth-child(1) {
        .item-image {
          margin: 0 auto 14%;
        }
      }
      &:nth-child(2) {
        .item-image {
          max-width: 100px;
        }
      }
      &:nth-child(3) {
        .item-image {
          max-width: 94px;
        }
      }
    }
  }
  .reviews {
    padding-top: 7.73%;
    h3 {
      color:         $primaryColor;
      margin-bottom: 12px;
    }
    h2 {
      margin-bottom: 5%;
    }
    p {
      font-size:   20px;
      line-height: 1.4;
    }
    .btn {
      margin: 0 auto;
    }
    &-slider {
      display:        flex;
      flex-direction: column;
      &-inner {
        margin-bottom: 6.2%;
        position:      relative;
      }
      .container {
        max-width: 1800px;
      }
      .swiper-container {
        margin:  0 2.2%;
        padding: 2% 0 6.5%;
      }
      .swiper-button-prev, .swiper-button-next {
        transform: translate(0, -100%);
      }
    }
    &-item {
      width:         90%;
      min-height:    360px;
      margin:        0 auto;
      padding:       4% 5%;
      background:    $white;
      border-radius: 20px;
      box-shadow:    0 15px 40px 0 rgba(56, 69, 249, 0.13);
      .item-title {
        margin-bottom:   22px;
        display:         flex;
        justify-content: center;
        flex-direction:  column;
        .rating {
          margin-right: 0;
        }
      }
    }
  }
  .contact {
    padding-top: 5.55%;
  }
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 767px) {

}