@import "./variables";

@media (any-hover: hover) {
  .products {
    &-slider:hover {
      .swiper-button-prev, .swiper-button-next {
        opacity: 1;
        &.swiper-button-disabled {
          opacity: .35;
        }
      }
    }
    &-item:hover {
      box-shadow: 0 3px 20px 0 rgba(56, 69, 249, 0.35);
    }
    &-item .favorites:hover {
      path {
        stroke: $primaryColor;
      }
    }
  }
}

.products {
  h2 {
    margin-bottom: 3.6%;
  }
  &-buttons {
    margin-bottom: 5%;
    display:       flex;
    flex-wrap:     wrap;
    button {
      font-size:    24px;
      font-weight:  500;
      padding:      9px 23px;
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-slider {
    .swiper-container {
      padding: 15px 0;
      .swiper-pagination {
        display: none;
      }
    }
    .swiper-button-prev {
      left: 15px;
    }
    .swiper-button-next {
      right: 15px;
    }
    .swiper-button-next, .swiper-button-prev {
      opacity: 0;
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }
  &-item {
    max-width:     353px;
    width:         90%;
    margin:        0 auto;
    position:      relative;
    box-shadow:    0 3px 20px 0 rgba(56, 69, 249, 0.14);
    background:    $white;
    color:         $black;
    border-radius: 10px;
    padding:       13.5% 5% 8%;
    min-height:    320px;
    .btn {
      font-size:      20px;
      padding:        8px 4.5%;
      max-width:      initial;
      width:          initial;
      border-radius:  5px;
      text-transform: capitalize;
      margin:         15px 5.5% 0 0;
      &:last-child {
        margin: 15px 0 0;
      }
    }
    .favorites {
      cursor:  pointer;
      z-index: 99;
      width:   23px;
      height:  23px;
      path {
        stroke: $bgColor;
      }
      &.active {
        path {
          fill:   $primaryColor;
          stroke: $primaryColor;
        }
      }
    }
    .hit, .discount {
      position:      absolute;
      top:           12px;
      left:          16px;
      font-size:     18px;
      font-weight:   500;
      border-radius: 50px;
      padding:       2px 19px;
    }
    .hit {
      background: #FFC36B;
    }
    .discount {
      background: #FF7A51;
    }
    .item-image {
      display:       block;
      margin-bottom: 16%;
      cursor:        pointer;
    }
    .item-description {
      > a {
        font-size:       22px;
        font-weight:     500;
        text-transform:  uppercase;
        margin-bottom:   8px;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        max-width:       245px;
      }
      .rating {
        margin-bottom: 5px;
      }
      .price {
        font-size:      22px;
        text-transform: uppercase;
        display:        inline-block;
      }
      .description-buttons {
        display:     flex;
        flex-wrap:   wrap;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .products {
    &-buttons {
      margin-bottom: 25px;
      button {
        font-size:    16px;
        padding:      9px;
        margin-right: 15px;
      }
    }
    &-slider {
      max-width: 840px;
      margin:    0 auto;
    }
    &-item {
      box-shadow:    0 3px 10px 0 rgba(56, 69, 249, 0.14);
      border-radius: 8px;
      padding:       13% 5% 9%;
      max-width:     260px;
      min-height:    232px;
      width:         92%;
      .btn {
        font-size:     16px;
        padding:       6px 5.7%;
        border-radius: 3px;
      }
      .favorites {
        width:  17px;
        height: 15px;
      }
      .hit, .discount {
        top:       3%;
        left:      14px;
        font-size: 14px;
        padding:   1px 14px;
      }
      .item-image {
        margin-bottom: 8%;
      }
      .item-description {
        > a {
          font-size:     18px;
          margin-bottom: 2.9%;
        }
        .rating {
          margin-bottom: 2%;
          svg {
            width:  10px;
            height: 10px;
          }
        }
        .price {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .products {
    &-buttons {
      margin:    0 auto 10px;
      max-width: 415px;
      button {
        font-size:     12px;
        padding:       6px 12px;
        margin:        0 10px 10px 0;
        border-radius: 3px;
      }
    }
    &-slider {
      .swiper-container {
        padding: 5px 0 35px;
        .swiper-pagination {
          display: block;
        }
      }
      .swiper-button-prev {
        left: 15px;
      }
      .swiper-button-next {
        right: 15px;
      }
    }
    &-item {
      box-shadow:    0 3px 10px 0 rgba(56, 69, 249, 0.14);
      border-radius: 8px;
      min-height:    230px;
      max-width:     270px;
      padding:       25px 16px;
      .item-image {
        margin-bottom: 12%;
      }
      .favorites {
        width:  17px;
        height: 15px;
      }
      .hit, .discount {
        left:      10px;
        font-size: 12px;
        padding:   1px 12px;
      }
      .item-description {
        > a {
          font-size:     18px;
          margin-bottom: 10px;
        }
        .rating {
          margin-bottom: 5px;
          svg {
            width:  10px;
            height: 10px;
          }
        }
        .price {
          font-size: 16px;
        }
      }
    }
  }
}