@import "./variables";

@media (any-hover: hover) {
}

.basket {
  h4 {
    text-align: center;
    width:      100%;
    margin:     32px 0;
  }
  span {
    font-size:      24px;
    text-transform: uppercase;
  }
  &-inner {
    max-height: 90%;
  }
  &-title {
    padding: 25px 4.7%;
  }
  &-list {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    height:         100%;
    border-bottom:  2px solid $primaryColor;
    overflow:       auto;
    padding:        0 4.9%;
  }
  &-item {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    position:        relative;
    width:           100%;
    padding:         3.6% 0;
    .item-close {
      width:      14px;
      height:     14px;
      cursor:     pointer;
      position:   absolute;
      top:        17%;
      right:      0;
      transition: 0.3s linear;
      &:after, &:before {
        content:       "";
        width:         100%;
        height:        2px;
        position:      absolute;
        top:           50%;
        left:          0;
        background:    $black;
        border-radius: 3px;
        z-index:       10;
      }
      &:after, &:before {
        transform: rotate(-45deg);
      }
      &:before {
        transform: rotate(45deg);
      }
    }
    h5 {
      width:        100%;
      font-size:    20px;
      font-weight:  500;
      margin-right: 20px;
    }
    .item-image {
      width: 100px;
      img {
        height: auto;
      }
    }
    .item-description {
      width:           100%;
      padding-left:    20px;
      display:         flex;
      justify-content: space-between;
      align-items:     center;
    }
    .quantity {
      min-width: 100px;
      button {
        min-width: 20px;
        max-width: 20px;
      }
      input {
        background: #e2e6ea;
      }
      label {
        padding:       5px;
        margin:        0 10px;
        background:    #e2e6ea;
        border-radius: 4px;
      }
    }
    .item-price {
      text-align: right;
      min-width:  150px;
      font-size:  20px;
    }
  }
  &-bottom {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding:         3.71% 4.7% 3.71%;
    p {
      font-size:       18px;
      display:         flex;
      justify-content: space-between;
      margin-bottom:   10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .total-info {
      font-size:   18px;
      font-weight: 700;
      margin-left: 10px;
      span {
        font-size:   18px;
        font-weight: 700;
      }
    }
    .btn {
      max-width: 172px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .basket {
    span {
      font-size: 18px;
    }
    h2 {
      font-size: 24px;
    }
    &-inner {
      max-width:  700px;
      min-height: 300px;
    }
    &-title {
      padding: 15px 4.7%;
    }
    &-list {
      border-bottom: 1px solid $primaryColor;
    }
    &-item {
      padding: 2.9% 0;
      .item-close {
        width:  10px;
        height: 10px;
        top:    15%;
        &:after, &:before {
          height:        1px;
          border-radius: 2px;
        }
      }
      h5 {
        font-size: 16px;
      }
      .item-price {
        min-width: 100px;
        font-size: 18px;
      }
    }
    &-bottom {
      padding: 2.2% 4.7%;
      p {
        font-size: 16px;
      }
      .total-info {
        font-size: 16px;
        span {
          font-size: 16px;
        }
      }
      .btn {
        max-width: 125px;
        padding:   10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .basket {
    span {
      font-size: 12px;
    }
    h2 {
      font-size: 20px;
    }
    h5 {
      margin-bottom: 10px;
    }
    &-inner {
      max-width: 500px;
      height:    initial;
    }
    &-list {
      padding: 15px 4.9%;
    }
    &-item {
      padding: 15px 0;
      .item-close {
        top: 15%;
      }
      h5 {
        width:       100%;
        font-size:   14px;
        font-weight: 500;
      }
      .quantity {
        width:     30%;
        min-width: 80px;
        button {
          min-width: 14px;
          max-width: 14px;
        }
        label {
          max-width: 36px;
        }
      }
      span {
        width: 41%;
      }
      .item-description {
        margin-right: 0;
        max-width:    440px;
        flex-wrap:    wrap;
      }
    }
    &-bottom {
      padding:   15px 20px;
      flex-wrap: wrap;
      p {
        font-size:     12px;
        margin-bottom: 5px;
      }
      .total-info {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
      &-description {
        width:         100%;
        margin-bottom: 12px;
      }
      .btn {
        max-width: initial;
        width:     100%;
      }
    }
  }
}
