@import "./variables";

@media (any-hover: hover) {
  .catalog-content .catalog-list .catalog-buttons {
    .list-js:hover, .grid-js:hover {
      opacity: .7;
    }
  }
}

.catalog {
  opacity: 0;
  &-content {
    padding: 6.2% 0;
    .container {
      max-width: 1800px;
    }
    .catalog-inner {
      display:         flex;
      justify-content: space-between;
    }
    .filter {
      max-width: 400px;
      width:     28%;
      .close-filter {
        position: absolute;
        z-index:  1;
        right:    20px;
        top:      20px;
        width:    22px;
        height:   22px;
        display:  none;
        &:after, &:before {
          height: 2px;
        }
      }
      .clear-filters {
        max-width:     100%;
        margin-bottom: 16px;
        font-size:     14px;
        background:    white;
        color:         #000;
        border:        1px solid #b2c5d4;
        transition:    .2s linear;
        &:hover, &:active {
          background: #b2c5d4;
        }
      }
      .selected-filter-content {
        margin-bottom:   -8px;
        display:         flex;
        align-items:     flex-start;
        justify-content: flex-start;
        flex-wrap:       wrap;
      }
      .selected-filter {
        font-size:     13px;
        border:        1px solid #6b92b0;
        padding:       6px 18px 6px 4px;
        border-radius: 4px;
        display:       inline-block;
        position:      relative;
        z-index:       1;
        line-height:   1;
        color:         #000;
        margin-bottom: 8px;
        margin-right:  8px;
        cursor:        pointer;
        user-select:   none;
        &:hover, &:active {
          opacity: .7;
        }
        &:before {
          content:         '';
          background:      url("../images/icons/close-blue.svg") no-repeat;
          background-size: contain;
          position:        absolute;
          z-index:         1;
          right:           4px;
          top:             50%;
          width:           8px;
          height:          8px;
          transform:       translate(0, -50%);
        }
      }
      .filter-label {
        width:         100%;
        display:       flex;
        align-items:   center;
        height:        initial;
        margin-bottom: 10px;
        font-size:     16px;
        cursor:        pointer;
        &:hover, &:active {
          opacity: .7;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .color-item {
        border:        1px solid #DDE2E8;
        width:         33px;
        height:        33px;
        margin-right:  5px;
        margin-bottom: 5px;
      }
      input:checked + .current-color {
        border: 3px solid #6B92B0;
      }
      .current-color {
        width:      100%;
        height:     100%;
        background: #fff;
        &.beige {
          background: rgba(207, 181, 149, 1);
        }
        &.gold {
          background: #f7c663;
        }
        &.black {
          background: #000;
        }
        &.titanium {
          background: #aca996;
        }
        &.silver {
          background: #c9c9ca;
        }
        &.painting {
          background: linear-gradient(45deg, green 23%, red 46%, #3b3bdc 100%);
        }
        &.red {
          background: red;
        }
        &.silver-metallic {
          background: #dcdddf;
        }
        &.grey-metallic {
          background: #c7cfd2;
        }
        &.mirror {
          background: #484c4f;
        }
        &.mirror-black {
          background: #494949;
        }
        &.silver {
          background: #b1b3b6;
        }
        &.black-mirror {
          background: rgba(134, 140, 146, 1);
        }
        &.golden-metallic {
          background: #eee8d8;
        }
        &.oak {
          background: #bb6d14;
        }
        &.brown {
          background: #451805;
        }
        &.nut {
          background: #5f4638;
        }
        &.ivory {
          background: #bdb5ab;
        }
        &.bronze {
          background: rgba(164, 117, 71, 1);
        }
        &.steel {
          background: rgba(170, 170, 171, 1);
        }
        &.chromium {
          background: #bdc5c8;
        }
        &.orange {
          background: #fb6f2c;
        }
        &.stainless-steel {
          background: #c5c4bf;
        }
        &.gray-white {
          background: #757c87;
        }
        &.gray {
          background: gray;
        }
        &.metallic {
          background: #6d767d;
        }
        &.black-white {
          background: linear-gradient(45deg, #fff 33%, #000 100%);
        }
        &.blue {
          background: blue;
        }
        &.terracotta {
          background: #7f2112;
        }
        &.pink {
          background: pink;
        }
        &.white-pink {
          background: linear-gradient(45deg, #fff 33%, pink 100%);
        }
        &.grey-pink {
          background: linear-gradient(45deg, grey 33%, pink 100%);
        }
        &.white-silver {
          background: linear-gradient(45deg, #fff 33%, #b1b3b6 100%);
        }
        &.tree {
          background: #4f3634;
        }
        &.black-silver {
          background: linear-gradient(45deg, #000 33%, #b1b3b6 100%);
        }
        &.green {
          background: green;
        }
        &.white-coffee {
          background: linear-gradient(45deg, #fff 33%, #6c4c35 100%);
        }
      }
      input[type="checkbox"] {
        width:        18px;
        height:       18px;
        margin-right: 10px;
        border:       1px solid $primaryColor;
        background:   $primaryColor;
      }
      .price {
        &-value {
          display:       flex;
          align-items:   center;
          margin-bottom: 25px;
          label {
            margin-bottom: 0;
            width:         initial;
          }
          .value {
            font-size:     14px;
            background:    none;
            border:        1px solid $primaryColor;
            border-radius: 5px;
            padding:       0 10px;
            max-width:     93px;
            width:         100%;
            height:        29px;
            margin:        0;
          }
          span {
            width:         14px;
            height:        3px;
            background:    $primaryColor;
            border-radius: 10px;
            margin:        0 6px;
          }
          .btn {
            font-size:   16px;
            padding:     3px 0;
            margin-left: 22px;
            max-width:   93px;
          }
        }
        .wrapper {
          max-width: 326px;
          margin:    0;
          padding:   0;
          .noUi-connect {
            background: $primaryColor;
          }
          .noUi-base {
            margin: 0 5%;
            width:  initial;
          }
          .noUi-horizontal {
            height:     6px;
            background: $secondaryColor;
            border:     none;
          }
          .noUi-horizontal .noUi-handle {
            width:         33px;
            height:        15px;
            border-radius: 20px;
            box-shadow:    none;
            border:        1px solid $primaryColor;
            &:after, &:before {
              content: none;
            }
          }
        }
      }
      &-item {
        background:    $white;
        border-radius: 10px;
        box-shadow:    0 3px 40px rgba(56, 69, 249, 0.13);
        padding:       16px;
        margin-bottom: 10px;
        .filter-labels {
          display:       block;
          margin-bottom: 10px;
          &.temperature {
            display:   flex;
            flex-wrap: wrap;
            .filter-label {
              display:         inline-flex;
              width:           auto;
              padding:         4px;
              border:          1px solid #6b92b0;
              margin:          4px;
              border-radius:   4px;
              min-width:       32px;
              justify-content: center;
              align-items:     center;
              background:      #dde2e8;
              transition:      .2s linear;
              &:hover, &:active {
                background: transparent;
              }
            }
            input {
              display: none;
            }
          }
          &.colors {
            display:         flex;
            flex-wrap:       wrap;
            justify-content: flex-start;
            align-items:     flex-start;
          }
        }
        &.hide {
          .filter-labels {
            display: none;
          }
          .more {
            &:after {
              transform: translate(0, -50%) rotate(180deg);
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        h5 {
          font-size:     16px;
          line-height:   1.3;
          margin-bottom: 15px;
        }
        .more {
          font-size: 14px;
          display: inline-block;
          &:after {
            transform: translate(0, -50%) rotate(0deg);
          }
        }
      }
    }
    .catalog-list {
      width:     71%;
      max-width: 1225px;
      .catalog-list-title {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        padding:         0 2%;
        margin-bottom:   50px;
        .btn-filter {
          display:     none;
          align-items: center;
          padding:     10px 17px;
          max-width:   initial;
          width:       initial;
          span {
            color:       $white;
            font-size:   14px;
            font-weight: 500;
          }
          img {
            width:        13px;
            height:       13px;
            margin-right: 8px;
          }
        }
      }
      .sorting {
        display:     flex;
        align-items: center;
        padding-top: 1%;
        p {
          margin-right: 15px;
        }
        select {
          font-size:     14px;
          padding:       2px 5px;
          border:        none;
          background:    $white;
          border-radius: 5px;
          box-shadow:    0 3px 8px 0 rgba(107, 146, 176, 0.14);
          max-width:     215px;
        }
        option {
          font-size: 14px;
        }
      }
      .catalog-buttons {
        display: flex;
        .btn-grid {
          margin-right: 10px;
        }
        .btn-list {
          svg {
            path {
              fill: $bgColor;
            }
          }
        }
        .btn-grid, .btn-list {
          cursor:  pointer;
          display: flex;
          &.active {
            svg {
              path {
                fill: $primaryColor;
              }
            }
          }
        }
      }
    }
  }
  .products {
    h2 {
      padding-left: 2%;
    }
    &-list {
      &.list {
        margin-bottom: 3.7%;
        .catalog-item {
          max-width:       initial;
          min-height:      initial;
          width:           100%;
          display:         flex;
          justify-content: space-between;
          align-items:     center;
          flex-direction:  row;
          padding:         3% 2.15%;
          margin-bottom:   3.5%;
          .item-image {
            width:         25%;
            margin-bottom: 0;
          }
          .item-description {
            width:          73%;
            display:        flex;
            flex-direction: column;
            height:         100%;
            .characteristics-list {
              display: inline-block;
              p {
                margin-bottom: 6px;
                font-weight:   700;
              }
            }
            > a {
              margin-bottom: 15px;
            }
            p {
              display: inline-block;
            }
            .price {
              margin-top:    auto;
              margin-bottom: 15px;
              font-weight:   500;
            }
            .description-buttons {
              justify-content: flex-start;
            }
            .btn {
              width:  20%;
              margin: 0 15px 0 0;
            }
          }
          .item-buttons {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .catalog {
    &-content {
      padding: 60px 0;
      .filter {
        position:   fixed;
        top:        56px;
        left:       0;
        z-index:    111;
        width:      100%;
        height:     calc(100% - 56px);
        max-width:  initial;
        background: #F8F8FA;
        padding:    50px 45px;
        overflow:   auto;
        visibility: hidden;
        opacity:    0;
        .close-filter {
          display: block;
        }
        .clear-filters {
          font-size: 12px;
          padding:   8px;
        }
        .filter-label {
          margin-bottom: 8px;
        }
        input[type="checkbox"] {
          width:  16px;
          height: 16px;
        }
        .price {
          padding: 15px 25px 20px;
          &-value {
            .value {
              font-size:     14px;
              border-radius: 3px;
              padding:       0 5px;
              height:        23px;
            }
            span {
              width:  11px;
              margin: 0 12px;
            }
            .btn {
              padding:   2px 0;
              max-width: 90px;
            }
          }
          .wrapper {
            max-width: 300px;
          }
        }
        &-item {
          box-shadow:    0 3px 20px rgba(56, 69, 249, 0.13);
          padding:       17px 25px;
          margin-bottom: 15px;
          h5 {
            margin-bottom: 10px;
          }
        }
      }
      .catalog-list {
        width:     100%;
        max-width: initial;
        .catalog-list-title {
          padding:       0;
          margin-bottom: 40px;
          .btn-filter {
            display:      flex;
            margin-right: 20px;
          }
        }
        .sorting {
          margin-right: auto;
          padding:      0;
          p {
            margin-right: 10px;
          }
          select {
            font-size:     16px;
            padding:       2px 5px;
            border-radius: 3px;
            max-width:     150px;
          }
          option {
            font-size: 16px;
          }
        }
        .catalog-buttons {
          .btn-grid {
            margin-right: 5px;
          }
          .btn-grid, .btn-list {
            svg {
              width:  24px;
              height: 22px;
            }
          }
        }
      }
    }
    .products {
      h2 {
        padding-left:  0;
        margin-bottom: 25px;
        text-align:    center;
      }
      &-list {
        &.list {
          margin-bottom: 30px;
          .catalog-item {
            padding: 20px;
            margin:  0 0 20px;
            .btn {
              margin: 0 2.4% 0 0;
            }
            .item-image {
              width: 28%;
            }
            .item-description {
              width: 68%;
              > a {
                max-width: 180px;
              }
              .price {
                margin-bottom: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog {
    &-content {
      padding: 50px 0;
      .filter {
        top:     41px;
        height:  calc(100% - 41px);
        padding: 55px 20px;
        .filter-label {
          font-size: 12px;
        }
        input[type="checkbox"] {
          width:  14px;
          height: 14px;
        }
        .price {
          padding: 15px 15px 20px;
          &-value {
            margin-bottom: 20px;
            .value {
              font-size: 12px;
              height:    22px;
            }
            span {
              width:  12px;
              height: 2px;
              margin: 0 10px;
            }
            .btn {
              font-size: 12px;
              padding:   4px 0;
              max-width: 66px;
            }
          }
          .wrapper {
            max-width: 300px;
            .noUi-horizontal {
              height: 4px;
              .noUi-handle {
                width:  28px;
                height: 12px;
                top:    -5px;
              }
            }
          }
        }
        &-item {
          box-shadow:    0 3px 8px rgba(56, 69, 249, 0.13);
          padding:       15px;
          margin-bottom: 10px;
          border-radius: 5px;
          h5 {
            font-size: 14px;
          }
        }
      }
      .catalog-list {
        .catalog-list-title {
          margin-bottom:   25px;
          justify-content: flex-start;
          align-items:     initial;
          flex-wrap:       wrap;
          .btn-filter {
            margin-right: 10px;
            padding:      6px;
            order:        1;
            span {
              display: none;
            }
            img {
              margin-right: 0;
              width:        10px;
              height:       10px;
            }
          }
        }
        .sorting {
          width:         100%;
          margin-bottom: 15px;
          select {
            font-size: 12px;
          }
          option {
            font-size: 12px;
          }
        }
        .catalog-buttons {
          order: 2;
          .btn-grid {
            margin-right: 10px;
          }
          .btn-list, .btn-grid {
            height: 23px;
          }
        }
      }
    }
    .products {
      h2 {
        margin-bottom: 20px;
      }
      &-list {
        &.list {
          margin-bottom: 30px;
          .catalog-item {
            padding:   36px 10px 15px 10px;
            flex-wrap: wrap;
            max-width: 500px;
            .item-image {
              width:         40%;
              margin-bottom: 0;
            }
            .item-description {
              width:      59%;
              align-self: center;
              padding:    5px;
              > a {
                max-width:     initial;
                margin-bottom: 5px;
              }
              .characteristics-list {
                display: none;
              }
              p {
                display: none;
              }
              .price {
                margin-bottom: 0;
                font-weight:   400;
              }
              .description-icons {
                position: absolute;
                top:      10px;
                right:    10px;
              }
              .description-buttons {
                .btn {
                  font-size: 12px;
                  width:     initial;
                  padding:   5px 10px;
                  margin:    8px 5% 0 0;
                  &:last-child {
                    margin: 8px 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

