@import "./variables";

@media (any-hover: hover) {
}

.comparison {
  h2 {
    margin-bottom: 40px;
  }
  &-content {
    padding: 5% 0;
  }
  &-inner {
    display:         flex;
    justify-content: space-between;
  }
  &-product {
    max-width: 730px;
    width:     48%;
  }
  .product-item, .product-characteristics {
    background:    $white;
    border-radius: 10px;
    box-shadow:    0 3px 30px 0 rgba(56, 69, 249, 0.13);
  }
  .product-item {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    margin-bottom:   8.3%;
    padding:         4%;
    h3 {
      font-size:     20px;
      font-weight:   500;
      margin-bottom: 12px;
    }
    .price {
      font-size:    18px;
      margin-right: 5%;
      .green {
        color: green;
      }
    }
    .btn {
      font-size: 16px;
      max-width: initial;
      width:     initial;
      padding:   8px 25px;
    }
    .item-image {
      max-width: 300px;
      width:     45%;
      img {
        object-fit: contain;
        height:     185px;
      }
    }
    .item-description {
      max-width: 325px;
      width:     49%;
      .description-info {
        display:       flex;
        margin-bottom: 20px;
      }
    }
  }
  .product-characteristics {
    padding: 7.5%;
    h5 {
      font-weight:   500;
      margin-bottom: 12px;
    }
    li {
      padding-bottom: 15px;
      margin-bottom:  15px;
      border-bottom:  1px solid $primaryColor;
      &:last-child {
        padding-bottom: 0;
        margin-bottom:  0;
        border-bottom:  none;
      }
    }
    &.comparison-characteristics {
      display: none;
    }
  }
}

@media screen and (max-width: 1150px) {
  .comparison {
    &-content {
      padding: 50px 0;
    }
    &-inner {
      flex-wrap: wrap;
    }
    &-product {
      width: 49%;
    }
    .product-item, .product-characteristics {
      border-radius: 5px;
      box-shadow:    0 3px 8px 0 rgba(56, 69, 249, 0.13);
    }
    .product-item {
      margin: 0 auto 20px;
      .item-image {
        width: 48%;
      }
      .item-description {
        width: 48%;
        h3 {
          font-size:     16px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
        }
        .price {
          font-size:     16px;
          margin-bottom: 5px;
        }
        .btn {
          font-size: 14px;
          padding:   6px 16px;
        }
        .description-info {
          flex-wrap:     wrap;
          margin-bottom: 15px;
        }
      }
    }
    .product-characteristics {
      display: none;
      width:   100%;
      padding: 20px;
      h5 {
        margin-bottom: 10px;
      }
      li {
        padding-bottom: 12px;
        margin-bottom:  12px;
      }
      p {
        display:         flex;
        justify-content: space-between;
      }
      span {
        text-align: left;
        width:      38%;
      }
      &.comparison-characteristics {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .comparison {
    h2 {
      margin-bottom: 30px;
    }
    &-inner {
      flex-direction: column;
    }
    &-product {
      width: 100%;
    }
    .product-item {
      max-width:      340px;
      padding:        20px;
      flex-direction: column;
      .item-image {
        max-width:     initial;
        width:         100%;
        margin-bottom: 15px;
      }
      .item-description {
        text-align: center;
        max-width:  initial;
        width:      100%;
        h3 {
          font-size:     16px;
          margin-bottom: 8px;
        }
        span {
          font-size: 12px;
        }
        .btn {
          padding: 9px 18px;
        }
        .description-info {
          justify-content: center;
          margin-bottom:   10px;
        }
      }
    }
    .product-characteristics {
      width:         100vw;
      margin-left:   -20px;
      border-radius: 0;
      h5 {
        font-size: 16px;
      }
      li {
        padding-bottom: 10px;
        margin-bottom:  10px;
      }
      p, span {
        font-size: 14px;
      }
      span {
        width: 42%;
      }
    }
  }
}