@import "./variables";

@media (any-hover: hover) {
}

.comparison {
  h2 {
    margin-bottom: 40px;
  }
  &-content {
    padding: 5% 0;
  }
  &-inner {
    width: 100%;
  }
  &-product {
    width:         100%;
    display:       flex;
    align-items:   flex-start;
    padding:       32px;
    background:    $white;
    box-shadow:    0 3px 30px 0 rgba(56, 69, 249, 0.13);
    border-radius: 10px;
    margin-bottom: 16px;
    overflow:      auto;
    .close {
      position:   absolute;
      z-index:    1;
      right:      10px;
      top:        0;
      padding:    5px;
      width:      30px;
      height:     30px;
      transition: .2s linear;
      &:hover, &:active {
        opacity: .7;
      }
    }
    .product-item {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      min-width:       350px;
      padding:         0 15px;
      position:        relative;
      width:         inherit;
      &:not(:last-child) {
        border-right: 1px solid #6B92B0;
      }
      h3 {
        font-size:     20px;
        font-weight:   500;
        margin-bottom: 12px;
      }
      .price {
        font-size:    18px;
        margin-right: 5%;
        .green {
          color: green;
        }
      }
      .btn {
        font-size: 16px;
        max-width: initial;
        width:     initial;
        padding:   8px 25px;
      }
      .item-image {
        max-width: 300px;
        width:     45%;
        img {
          object-fit: contain;
          height:     185px;
        }
      }
      .item-description {
        flex: 1 1 auto;
        .description-info {
          display:       flex;
          margin-bottom: 20px;
        }
      }
    }
  }
  .product-characteristics {
    width:         100%;
    padding:       32px;
    background:    $white;
    border-radius: 10px;
    box-shadow:    0 3px 30px 0 rgba(56, 69, 249, 0.13);
    overflow:      auto;
    h5 {
      font-weight:   500;
      margin-bottom: 12px;
    }
    .product-value {
      width:   100%;
      display: flex;
      p {
        min-width:     350px;
        padding:       10px;
        width:         inherit;
        border-bottom: 1px solid $primaryColor;
        &:not(:last-child) {
          border-right: 1px solid #6B92B0;
        }
      }
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom:  0;
        border-bottom:  none;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .comparison {
    &-content {
      padding: 50px 0;
    }
    &-inner {
      flex-wrap: wrap;
    }
    &-product {
      border-radius: 5px;
      box-shadow:    0 3px 8px 0 rgba(56, 69, 249, 0.13);
      padding:       20px;
      .product-item {
        margin: 0 auto 20px;
        .item-image {
          width: 48%;
        }
        .item-description {
          h3 {
            font-size:     16px;
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
          }
          .price {
            font-size:     16px;
            margin-bottom: 5px;
          }
          .btn {
            font-size: 14px;
            padding:   6px 16px;
          }
          .description-info {
            flex-wrap:     wrap;
            margin-bottom: 15px;
          }
        }
      }
    }
    .product-characteristics {
      padding:       20px;
      border-radius: 5px;
      box-shadow:    0 3px 8px 0 rgba(56, 69, 249, 0.13);
      h5 {
        margin-bottom: 10px;
      }
      li {
        padding-bottom: 12px;
        margin-bottom:  12px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .comparison {
    h2 {
      margin-bottom: 30px;
    }
    &-inner {
      flex-direction: column;
    }
    &-product {
      border-radius: 0;
      .product-item {
        max-width:      340px;
        padding:        20px;
        flex-direction: column;
        min-width:      172px;
        .item-image {
          max-width:     initial;
          width:         100%;
          margin-bottom: 15px;
        }
        .item-description {
          text-align: center;
          h3 {
            font-size:     16px;
            margin-bottom: 8px;
          }
          span {
            font-size: 12px;
          }
          .btn {
            padding: 9px 18px;
          }
          .description-info {
            justify-content: center;
            margin-bottom:   10px;
          }
        }
      }
    }
    .product-characteristics {
      border-radius: 0;
      h5 {
        font-size: 16px;
      }
      .product-value {
        p {
          min-width: 172px;
        }
      }
      li {
        padding-bottom: 10px;
        margin-bottom:  10px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}