@import "./variables";
@import "./animations";

.comparison {
  h2 {
    margin-bottom: 40px;
  }
  &-content {
    padding: 5% 0;
  }
  &-inner {
    width: 100%;
  }
  &-product {
    width:       100%;
    display:     flex;
    align-items: flex-start;
    overflow:    auto;
    .close {
      position:   absolute;
      z-index:    1;
      right:      10px;
      top:        10px;
      padding:    5px;
      width:      30px;
      height:     30px;
      transition: .2s linear;
      &:hover, &:active {
        opacity: .7;
      }
    }
    .product-top {
      display:         flex;
      align-items:     center;
      justify-content: space-between;
      width:           100%;
      margin-bottom:   16px;
    }
    .product-item {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      min-width:       350px;
      position:        relative;
      width:           inherit;
      flex-direction:  column;
      padding:         32px;
      background:      $white;
      border-radius:   10px;
      margin:          0 16px 0 0;
      max-width:       700px;
      h3 {
        font-size:     20px;
        font-weight:   500;
        margin-bottom: 12px;
      }
      .price {
        font-size:    18px;
        margin-right: 5%;
        .green {
          color: green;
        }
      }
      .btn {
        font-size: 16px;
        max-width: initial;
        width:     initial;
        padding:   8px 25px;
      }
      .item-image {
        max-width:    300px;
        width:        45%;
        margin-right: 10px;
        img {
          object-fit: contain;
          height:     185px;
        }
      }
      .item-description {
        flex: 1 1 auto;
        .description-info {
          display:       flex;
          margin-bottom: 20px;
        }
      }
    }
  }
  .product-characteristics {
    width: 100%;
    h5 {
      font-weight:   500;
      margin-bottom: 12px;
    }
    .product-value {
      width:   100%;
      display: flex;
      p {
        padding:       0 0 10px 0;
        width:         inherit;
        border-bottom: 1px solid $primaryColor;
        &:not(:last-child) {
          border-right: 1px solid #6B92B0;
        }
        &.empty {
          opacity: .5;
        }
      }
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom:  0;
        border-bottom:  none;
      }
    }
  }
}

// animations
.comparison {
  .comparison-content {
    opacity:   0;
    animation: $animationFromRight;
  }
}

@media screen and (max-width: 1150px) {
  .comparison {
    &-content {
      padding: 50px 0;
    }
    &-inner {
      flex-wrap: wrap;
    }
    &-product {
      .product-item {
        margin: 0 16px 20px 0;
        .item-description {
          h3 {
            font-size:     16px;
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
          }
          .price {
            font-size:     16px;
            margin-bottom: 5px;
          }
          .btn {
            font-size: 14px;
            padding:   6px 16px;
          }
          .description-info {
            flex-wrap:     wrap;
            margin-bottom: 15px;
          }
        }
      }
    }
    .product-characteristics {
      h5 {
        margin-bottom: 10px;
      }
      li {
        padding-bottom: 12px;
        margin-bottom:  12px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .comparison {
    h2 {
      margin-bottom: 30px;
    }
    &-inner {
      flex-direction: column;
    }
    &-product {
      .product-item {
        padding:        20px;
        flex-direction: column;
        .item-description {
          h3 {
            font-size:     16px;
            margin-bottom: 8px;
          }
          span {
            font-size: 12px;
          }
          .btn {
            padding: 9px 18px;
          }
          .description-info {
            margin-bottom: 10px;
          }
        }
      }
    }
    .product-characteristics {
      h5 {
        font-size: 14px;
      }
      li {
        padding-bottom: 10px;
        margin-bottom:  10px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}