@font-face {
  font-family: "Roboto";
  src:         url("../fonts/roboto/Roboto-Light.ttf") format('opentype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/roboto/Roboto-Regular.ttf") format('opentype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/roboto/Roboto-Medium.ttf") format('opentype');
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/roboto/Roboto-Bold.ttf") format('opentype');
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  font-family: "Montserrat";
  src:         url("../fonts/montserrat-bold-italic.ttf") format('opentype');
  font-weight: 700;
  font-style:  italic;
}

