@import "variables";

@media (any-hover: hover) {
  .footer {
    .socials .socials-image:hover {
      opacity: .7;
    }
    a:not(.footer-logo):hover {
      opacity: .7;
    }
  }
}

.footer {
  background: $bgColor;
  color:      $black;
  a, p {
    color: $black;
  }
  h5 {
    margin-bottom:  20px;
    text-transform: uppercase;
  }
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-center {
    border-bottom: 1px solid $black;
    padding:       4.8% 0;
    &-inner {
      display:         flex;
      justify-content: space-between;
    }
  }
  .footer-logo {
    max-width:  335px;
    width:      22%;
    align-self: center;
  }
  &-menu {
    max-width: 445px;
    width:     30%;
    &-lists {
      display:         flex;
      justify-content: space-between;
    }
  }
  &-info {
    display:         flex;
    justify-content: space-between;
    width:           36%;
    max-width:       470px;
  }
  &-contact {
    a {
      margin-bottom: 20px;
    }
  }
  &-bottom {
    text-align: center;
    padding:    20px 0;
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .footer {
    h5 {
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    li {
      margin-bottom: 12px;
    }
    .footer-logo {
      width:         50.4%;
      margin-bottom: 44px;
    }
    &-center {
      padding: 50px 0;
    }
    &-center-inner {
      flex-wrap:       wrap;
      max-width:       540px;
      margin:          0 auto;
      justify-content: center;
    }
    &-menu {
      width:     65%;
      max-width: initial;
      &-lists {
        flex-direction: column;
      }
    }
    &-info {
      width:           35%;
      max-width:       initial;
      flex-direction:  column;
      justify-content: flex-start;
    }
    &-contact {
      margin-bottom: 50px;
      a {
        margin-bottom: 15px;
      }
    }
    .socials {
      &-image {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-bottom {
      padding: 16px 0;
      p {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
    h5 {
      margin-bottom: 15px;
    }
    li {
      margin-bottom: 10px;
    }
    .footer-logo {
      width:         64%;
      max-width:     272px;
      margin-bottom: 30px;
    }
    &-center-inner {
      flex-direction: column;
      align-items:    center;
    }
    &-menu {
      width:         100%;
      max-width:     140px;
      margin-bottom: 40px;
      &-lists {
        ul {
          margin-bottom: 10px;
        }
      }
    }
    &-info {
      width:          100%;
      max-width:      160px;
      flex-direction: column;
    }
    &-contact {
      margin-bottom: 40px;
      a {
        margin-bottom: 10px;
      }
      a, .call, .address {
        justify-content: center;
      }
    }
    .socials {
      &-images {
        justify-content: center;
      }
      &-image {
        margin-right: 3px;
      }
    }
    &-bottom {
      padding: 12px 0;
      p {
        font-size: 12px;
      }
    }
  }
}