@import "./variables";

@media (any-hover: hover) {
  .login {
    .forgot-password:hover, .register-now:hover {
      opacity: .7;
    }
  }
}

.login {
  &-inner {
    height: 490px;
  }
  &-title {
    padding: 3% 8%;
  }
  &-content {
    form {
      flex-direction: column;
      input {
      }
      label {
        margin-bottom: 20px;
      }
      .forgot-password {
        font-size:       20px;
        font-weight:     300;
        text-decoration: underline;
      }
      .register-now {
        font-size:  18px;
        text-align: center;
      }
      .checkbox {
        margin: 5px 0 38px;
        label {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .login {
    &-inner {
      height: 358px;
    }
    &-content {
      padding: 23px 25px;
      form {
        label {
          margin-bottom: 15px;
        }
        .checkbox {
          margin: 5px 0 25px;
          label {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .login {
    &-inner {
      max-width: initial;
      height:    100%;
    }
    &-content {
      padding: 38px 20px;
      form {
        .forgot-password {
          font-size: 14px;
        }
        .register-now {
          font-size: 12px;
        }
        .checkbox {
          label {
            font-size: 14px;
          }
        }
      }
    }
  }
}
