@import "./variables";

@media (any-hover: hover) {
}

.ordering {
  .contact {
    padding: 6.2% 0 0;
    h2 {
      margin-bottom: 4.5%;
    }
    h5 {
      text-transform: uppercase;
      font-weight:    400;
      margin-bottom:  25px;
    }
    .btn {
      width:     initial;
      max-width: initial;
      padding:   16px 35px;
    }
    &-inner {
      align-items: flex-start;
    }
    .notification_error {
      margin-top: 32px;
    }
    .notification_warning {
      position:  absolute;
      z-index:   1;
      left:      0;
      bottom:    0;
      transform: translate(0, 100%);
    }
    &-form {
      max-width: 695px;
      margin:    0 20px 60px 0;
      form {
        > label {
          margin-bottom: 30px;
          width:         47.6%;
          min-font-size: 50px;
        }
        label {
          font-size:   16px;
          display:     flex;
          align-items: center;
          height:      initial;
        }
        input, textarea {
          padding: 12px 15px;
        }
        input[type="radio"] {
          width:        17px;
          height:       17px;
          margin-right: 10px;
        }
        .address {
          width:          100%;
          margin-bottom:  24px;
          display:        flex;
          flex-direction: column;
          align-items:    flex-start;
        }
      }
      .installation-required {
        width:         100%;
        margin-bottom: 30px;
        h5 {
          text-transform: initial;
          margin-bottom:  15px;
        }
        label {
          margin-bottom: 10px;
          &:nth-child(3) {
            margin-bottom: 45px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .delivery-service, .payment-method {
        margin-bottom: 50px;
        width:         100%;
        label {
          width:         100%;
          margin-bottom: 0;
          cursor:        pointer;
        }
      }
      .delivery-service .delivery-service-item, .payment-method label {
        background:    $white;
        border-radius: 5px;
        box-shadow:    0 3px 20px rgba(56, 69, 249, 0.13);
        margin-bottom: 20px;
        padding:       12px 15px;
        &:hover, &:active {
          color: $primaryColor;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .delivery-service {
        label {
          &:hover, &:active {
            color: $primaryColor;
          }
          span {
            background: $white;
            padding:    0 6px;
          }
        }
        &-item {
          p {
            font-size:   16px;
            color:       #707070;
            margin-left: 4%;
          }
          label {
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .courier {
            margin-bottom: 8px;
          }
          .new-mail {
            margin-bottom: 25px;
          }
        }
      }
      .payment-method {
        input {
          margin-right: 10px;
        }
      }
    }
  }
  .ordering-basket {
    max-width:     695px;
    width:         60%;
    margin-bottom: 60px;
    h2 {
      margin-bottom: 0;
    }
    span {
      font-size:      20px;
      text-transform: uppercase;
    }
    &-item {
      border-radius: 10px;
      box-shadow:    0 3px 10px 0 rgba(56, 69, 249, 0.14);
      margin-bottom: 5.25%;
      h5 {
        font-size:     20px;
        font-weight:   500;
        margin-bottom: 0;

      }
      p {
        font-size: 18px;
      }
      .item-title {
        background:      $secondaryColor;
        position:        relative;
        padding:         15px 5%;
        border-radius:   10px 10px 0 0;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
      }
      .item-inner {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        padding:         4.8% 5%;
        background:      $white;
        border-radius:   0 0 10px 10px;
        margin-bottom:   10px;
      }
      .item-image {
        width: 100px;
        img {
          height: auto;
        }
      }
      .item-description {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        width:           100%;
        padding-left:    20px;
      }
      .quantity-product {
        padding-left: 10px;
        text-align:   right;
        margin-left:  auto;
      }
      .price-product {
        min-width:    120px;
        padding-left: 10px;
        text-align:   right;
      }
    }
    .price {
      text-align:   right;
      margin-right: 4.8%;
      span, bdi {
        color: $primaryColor;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .ordering {
    .contact {
      padding: 50px 0 60px;
      h2 {
        margin-bottom: 50px;
      }
      h5 {
        margin-bottom: 35px;
      }
      .btn {
        padding: 15px 31px;
      }
      &-form {
        width:  48%;
        margin: 0 0 50px 0;
        form {
          flex-direction: row;
          > label {
            width:      48.6%;
            min-height: 45px;
          }
          label {
            font-size: 14px;
            span {
              padding: 0 8px;
            }
          }
          input[type="radio"] {
            width:        12px;
            height:       12px;
            margin-right: 15px;
          }
          .address, .textarea {
            width: 100%;
          }
          .address {
            margin-bottom: 35px;
          }
        }
        .installation-required {
          margin-bottom: 8%;
          label {
            &:nth-child(3) {
              margin-bottom: 8%;
            }
          }
        }
        .delivery-service .delivery-service-item, .payment-method label {
          box-shadow: 0 3px 10px rgba(56, 69, 249, 0.13);
          padding:    15px;
        }
        .delivery-service {
          label {
            &:first-child {
              height: initial;
            }
            height: 50px;
          }
          &-item {
            p {
              font-size:   14px;
              margin-left: 25px;
            }
            label {
              margin-bottom: 18px;
            }
            .courier {
              margin-bottom: 5px;
            }
            .new-mail {
              margin-bottom: 20px;
            }
          }
        }
        .payment-method {
          input {
            margin-right: 10px;
          }
        }
      }
    }
    .ordering-basket {
      width:         48%;
      margin-bottom: 0;
      h2 {
        font-size:     20px;
        margin-bottom: 0;
      }
      span {
        font-size: 18px;
      }
      &-item {
        border-radius: 8px;
        margin-bottom: 25px;
        h5 {
          margin-bottom: 5px;
        }
        p, h5 {
          font-size: 16px;
        }
        .item-title {
          padding:       15px 5.2%;
          border-radius: 8px 8px 0 0;
        }
        .item-inner {
          padding:       4% 4.5%;
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ordering {
    .contact {
      padding: 50px 0;
      h2 {
        margin-bottom: 35px;
        text-align:    left;
      }
      h5 {
        margin-bottom: 30px;
      }
      .btn {
        max-width: 400px;
        width:     100%;
        padding:   13px;
      }
      &-form {
        width:     100%;
        max-width: initial;
        form {
          flex-direction: column;
          > label {
            width:      100%;
            min-height: 40px;
          }
          label {
            font-size: 12px;
            span {
              font-size: 14px;
              padding:   0 5px;
            }
          }
          input, textarea {
            font-size: 14px;
          }
          input[type="radio"] {
            width:        10px;
            height:       10px;
            margin-right: 5px;
          }
          .address {
            margin-bottom: 25px;
          }
        }
        .installation-required {
          margin-bottom: 30px;
          h5 {
            font-size: 14px;
          }
          label {
            &:nth-child(3) {
              margin-bottom: 30px;
            }
          }
        }
        .delivery-service .delivery-service-item, .payment-method label {
          box-shadow:    0 3px 8px rgba(56, 69, 249, 0.13);
          padding:       13px 10px;
          border-radius: 3px;
        }
        .delivery-service {
          margin-bottom: 30px;
          label {
            &:first-child {
              height: initial;
            }
            height: 40px;
            span, input {
              font-size: 12px;
            }
          }
          &-item {
            p {
              font-size:   12px;
              margin-left: 20px;
            }
            label {
              margin-bottom: 14px;
            }
            .courier {
              margin-bottom: 3px;
            }
            .new-mail {
              margin-bottom: 15px;
            }
          }
        }
        .payment-method {
          margin-bottom: 40px;
        }
      }
    }
    .ordering-basket {
      max-width: 400px;
      width:     100%;
      margin:    0 auto;
      h2 {
        font-size:     16px;
        margin-bottom: 0;
      }
      span {
        font-size: 16px;
      }
      &-item {
        margin-bottom: 20px;
        h5 {
          margin: 0 10px 0 0;
        }
        h5, span, p {
          font-size: 12px;
        }
        .item-title {
          padding:       8px 5.2%;
          border-radius: 5px 5px 0 0;
        }
        .item-inner {
          padding:       5% 5.2%;
          border-radius: 0 0 5px 5px;
        }
        .item-image {
          width: 70px;
        }
        .item-description {
          display:        flex;
          flex-direction: column;
          align-items:    flex-start;
          .description-title {
            display:         flex;
            justify-content: space-between;
            align-items:     center;
            margin-bottom:   5px;
          }
        }
        .price-product {
          padding-left: 0;
        }
      }
      .price {
        span {
          font-size: 14px;
        }
      }
    }
  }
}


