@import "./variables";
@import "./animations";

.our-works {
  opacity: 0;
  .gallery {
    padding: 3% 0;
    h2 {
      margin-bottom: 3.75%;
    }
    &-item {
      padding: 10px;
      cursor:  pointer;
      &:hover, &:active {
        opacity: .7;
      }
      &.fixed {
        position:   fixed;
        left:       0;
        top:        0;
        z-index:    120;
        background: rgba(0, 0, 0, 0.8);
        padding:    60px 15px;
        width:      100%;
        height:     100%;
        text-align: center;
        transition: none;
        &:hover, &:active {
          opacity: 1;
        }
        .gallery-close {
          display: block;
        }
        .prev, .next {
          display: block;
        }
        .gallery-image {
          max-height: 100%;
          width:      auto;
          max-width:  100%;
          transition: none;
        }
      }
    }
    .prev, .next {
      display:         none;
      position:        absolute;
      left:            50%;
      bottom:          70px;
      transform:       translate(-150%, 0) rotate(180deg);
      background:      #fff;
      width:           50px;
      height:          50px;
      background:      url("../images/icons/arrow.svg") no-repeat;
      background-size: contain;
      transition:      .3s linear;
      &:hover {
        opacity: .4;
      }
    }
    .next {
      transform: translate(50%, 0);
    }
    &-close {
      content:    '';
      width:      34px;
      position:   absolute;
      z-index:    10;
      right:      0;
      top:        0;
      display:    none;
      padding:    5px;
      background: #fff;
      &:hover, &:active {
        opacity: .7;
      }
    }
    .clearfix {
      &::after {
        display: block;
        content: "";
        clear:   both;
      }
    }
    #grid[data-columns]::before {
      content: '4 .column.size-1of4';
    }
    /* These are the classes that are going to be applied: */
    .column {
      float: left;
    }
    .size-1of2 {
      width: 50%;
    }
    .size-1of3 {
      width: 33.333%;
    }
    .size-1of4 {
      width: 25%;
    }
  }
}

.our-works {
  .gallery-item {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
}

@media screen and (max-width: 1150px) {
  .our-works {
    .gallery {
      padding: 50px 0 45px;
      h2 {
        margin-bottom: 45px;
      }
      &-item {
        padding: 5px;
      }
      #grid[data-columns]::before {
        content: '3 .column.size-1of3';
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .our-works {
    .gallery {
      padding: 50px 0;
      .container {
        padding: 0 15px;
      }
      h2 {
        margin-bottom: 20px;
      }
      &-item {
        padding: 4px;
      }
      #grid[data-columns]::before {
        content: '2 .column.size-1of2';
      }
    }
  }
}