@import "./variables";

.product-page {
  .products {
    padding: 0 0 5% 0;
    h2 {
      margin-bottom: 3%;
    }
  }
  .product-info {
    padding: 5% 0;
    h2 {
      font-size:     34px;
      margin-bottom: 2.5%;
    }
    &-inner {
      display:         flex;
      justify-content: space-between;
    }
    &-slider {
      width: 48%;
      .swiper-top {
        margin-bottom: 25px;
        .slider-image {
          background:    $white;
          border-radius: 10px;
          img {
            height:          400px;
            object-fit:      contain;
            object-position: center center;
          }
        }
        .swiper-container {
          .swiper-pagination {
            display: none;
          }
        }
      }
      .swiper-bottom {
        position: relative;
        .swiper-container {
          margin: 0 5.5%;
        }
        .swiper-button-prev, .swiper-button-next {
          &:after {
            font-size: 29px !important;
          }
        }
        .swiper-button-prev {
          left: 0;
        }
        .swiper-button-next {
          right: 0;
        }
        .slider-image {
          position: relative;
          cursor:   pointer;
          &:after {
            content:    "";
            position:   absolute;
            top:        0;
            left:       0;
            width:      100%;
            height:     100%;
            background: rgba(59, 58, 58, 0.5);
            visibility: visible;
            opacity:    1;
            transition: .3s linear;
          }
        }
        .swiper-slide-thumb-active {
          .slider-image:after {
            visibility: hidden;
            opacity:    0;
          }
        }
      }
    }
    &-description {
      width: 47.5%;
      h5 {
        font-weight: 500;
      }
      .description-info {
        display:       flex;
        align-items:   center;
        margin-bottom: 3.7%;
        p {
          margin-right:  3.3%;
          background:    #E9ECF1;
          border-radius: 5px;
          padding:       7px 16px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .area {
        margin-bottom: 5.6%;
        h5 {
          margin-bottom: 22px;
        }
        &-list {
          display:   flex;
          flex-wrap: wrap;
          li {
            font-size:     16px;
            padding:       10px 2%;
            background:    #E9ECF1;
            border-radius: 5px;
            margin:        0 3.3% 15px 0;
          }
        }
      }
      .quantity {
        margin-bottom: 14%;
        h5 {
          margin-right: 5%;
        }
        button {
          border:        2px solid $primaryColor;
          border-radius: 3px;
          width:         28px;
          height:        28px;
          color:         $primaryColor;
        }
        label {
          width: 33px;
        }
        input {
          background: transparent;
        }
      }
      .buy {
        display:     flex;
        align-items: center;
      }
      .price {
        font-size:    18px;
        margin-right: 3.5%;
        span {
          font-size:   18px;
          font-weight: 700;
        }
      }
      .btn {
        display:       flex;
        align-items:   center;
        border-radius: 5px;
        padding:       12px 20px;
        max-width:     initial;
        width:         initial;
        svg {
          width:        24px;
          height:       24px;
          margin-right: 14px;
        }
      }
    }
  }
  .general-information {
    margin-bottom: 40px;
    .product-title {
      text-transform: uppercase;
      font-weight:    500;
    }
    &-inner {
      max-width: 1000px;
    }
    .tabs {
      margin-bottom: 4.74%;
      .btn-contour {
        margin-right:   15px;
        padding:        8px 20px;
        max-width:      initial;
        width:          initial;
        text-transform: none;
        font-weight:    400;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .description {
      max-width:     850px;
      margin-bottom: 4%;
      h5 {
        margin-bottom: 24px;
      }
      p {
        line-height: 1.5;
      }
    }
    .characteristics {
      background:    $white;
      padding:       40px 3.5% 25px;
      border-radius: 10px;
      box-shadow:    0 3px 40px rgba(56, 69, 249, 0.13);
      margin-bottom: 6.01%;
      h5 {
        margin-bottom: 15px;
      }
      &-item {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        padding:         15px 1.5%;
        border-bottom:   1px solid $primaryColor;
        &:last-child {
          border-bottom: none;
        }
        span {
          font-size:  16px;
          text-align: left;
          width:      26.6%;
        }
      }
    }
  }
  .products {
    .container {
      max-width: 1700px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .product-page {
    .product-info {
      padding: 50px 0;
      h2 {
        font-size:     22px;
        margin-bottom: 2.8%;
      }
      &-slider {
        width: 48.17%;
        .swiper-top {
          margin-bottom: 12px;
        }
        .swiper-bottom {
          .swiper-button-prev, .swiper-button-next {
            width: initial;
            &:after {
              font-size: 18px !important;
            }
          }
        }
      }
      &-description {
        width: 47.5%;
        .description-info {
          margin-bottom: 20px;
          p {
            font-size:     12px;
            margin-right:  10px;
            border-radius: 3px;
            padding:       8px 13px;
          }
        }
        .area {
          margin-bottom: 10px;
          h5 {
            font-size:     16px;
            margin-bottom: 15px;
          }
          &-list {
            li {
              font-size:     12px;
              padding:       7px;
              border-radius: 3px;
              margin:        0 10px 10px 0;
            }
          }
        }
        .quantity {
          margin-bottom: 30px;
          h5 {
            font-size:    16px;
            margin-right: 10px;
          }
          label {
            max-width: 22px;
          }
          button {
            border: 1px solid $primaryColor;
            width:  20px;
            height: 20px;
          }
        }
        .price {
          font-size:    16px;
          margin-right: 15%;
          span {
            font-size: 16px;
          }
        }
        .btn {
          padding: 10px 15px;
          svg {
            width:        19px;
            height:       19px;
            margin-right: 7px;
          }
        }
      }
    }
    .general-information {
      .tabs {
        margin-bottom: 5%;
        .btn-contour {
          font-size:    14px;
          margin-right: 10px;
          padding:      6px 10px;
        }
      }
      .description {
        margin-bottom: 3%;
        h5 {
          margin-bottom: 25px;
        }
      }
      .characteristics {
        padding:       35px 30px 20px;
        border-radius: 8px;
        box-shadow:    0 3px 15px rgba(56, 69, 249, 0.13);
        margin-bottom: 50px;
        h5 {
          margin-bottom: 10px;
        }
        &-item {
          border-bottom: 1px solid $primaryColor;
          span {
            font-size: 16px;
            width:     24.5%;
          }
        }
      }
    }
    .products {
      padding: 0 0 40px;
      h2 {
        font-size:     22px;
        line-height:   1.5;
        margin-bottom: 2%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product-page {
    .product-info {
      h2 {
        max-width: 500px;
        font-size: 24px;
        margin:    0 auto 3.5%;
      }
      &-inner {
        flex-direction: column;
      }
      &-slider {
        width: 100%;
        .swiper-top {
          max-width: 500px;
          margin:    0 auto 50px;
          .swiper-container {
            padding-bottom: 35px;
            .swiper-pagination {
              display: block;
            }
          }
        }
        .swiper-bottom {
          display: none;
        }
      }
      &-description {
        max-width: 500px;
        margin:    0 auto;
        width:     100%;
        .description-info {
          margin-bottom: 20px;
          p {
            padding:     6px 5px;
            font-weight: 500;
          }
        }
        .area {
          margin-bottom: 15px;
          h5 {
            font-size: 14px;
          }
        }
        .quantity {
          h5 {
            font-size: 14px;
          }
          button {
            width:  16px;
            height: 16px;
          }
        }
        .buy {
          flex-direction: column;
          align-items:    flex-start;
        }
        .price {
          width:     100%;
          font-size: 14px;
          margin:    0 0 45px;
          span {
            font-size:   16px;
            margin-left: 8px;
          }
        }
        .btn {
          justify-content: center;
          max-width:       280px;
          width:           100%;
          padding:         12px;
          border-radius:   3px;
          svg {
            width:        18px;
            height:       18px;
            margin-right: 12px;
          }
        }
      }
    }
    .general-information {
      .tabs {
        margin-bottom: 30px;
        .btn-contour {
          font-size:    12px;
          margin-right: 5px;
          padding:      6px 10px;
        }
      }
      .description {
        margin-bottom: 25px;
        h5 {
          margin-bottom: 15px;
        }
      }
      .characteristics {
        width:         100vw;
        margin-left:   -20px;
        padding:       25px 20px 20px;
        border-radius: 0;
        box-shadow:    0 3px 8px rgba(56, 69, 249, 0.13);
        margin-bottom: 50px;
        h5 {
          margin-bottom: 10px;
        }
        &-item {
          padding: 6px 0;
          p {
            width: 56%;
          }
          span {
            font-size: 12px;
            width:     36%;
          }
        }
      }
    }
    .products {
      h2 {
        font-size:     16px;
        line-height:   1.4;
        text-align:    center;
        margin-bottom: 5%;
      }
    }
  }
}