@import "./variables";

@media (any-hover: hover) {
  .products {
    .products-slider:hover {
      .swiper-button-prev, .swiper-button-next {
        opacity: 1;
        &.swiper-button-disabled {
          opacity: .35;
        }
      }
    }
    .products-item:hover {
      box-shadow: 0 3px 20px 0 rgba(56, 69, 249, 0.35);
    }
    .products-item, .product {
      .favorites:hover {
        path {
          stroke: $primaryColor;
        }
      }
      .share:hover {
        path {
          fill: $primaryColor;
        }
      }
    }
  }
}

.products {
  h2 {
    margin-bottom: 3.6%;
  }
  .products-buttons {
    margin-bottom: 3.75%;
    display:       flex;
    flex-wrap:     wrap;
    .btn-contour {
      font-size:    20px;
      font-weight:  500;
      padding:      9px 23px;
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .products-slider {
    .swiper-container {
      padding: 15px 0;
      .swiper-pagination {
        display: none;
      }
    }
    .swiper-button-prev {
      left: 15px;
    }
    .swiper-button-next {
      right: 15px;
    }
    .swiper-button-next, .swiper-button-prev {
      opacity: 0;
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }
  .products-list {
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;
    margin-bottom:   25px;
  }
  .products-item, .product {
    max-width:     375px;
    width:         92%;
    margin:        0 auto;
    position:      relative;
    box-shadow:    0 3px 15px 0 rgba(56, 69, 249, 0.14);
    background:    $white;
    color:         $black;
    border-radius: 10px;
    min-height:    320px;
    img {
      height: auto;
    }
    .btn {
      font-size:      16px;
      padding:        8px 0;
      max-width:      initial;
      width:          calc(50% - 8px);
      border-radius:  5px;
      text-transform: capitalize;
      margin:         15px 0 0;
      &:last-child {
        margin: 15px 0 0;
      }
    }
    .share {
      cursor: pointer;
      width:  19px;
      height: 19px;
    }
    .favorites {
      cursor:       pointer;
      z-index:      99;
      width:        19px;
      height:       19px;
      margin-right: 15px;
      path {
        stroke: $bgColor;
      }
      &.active {
        path {
          fill:   $primaryColor;
          stroke: $primaryColor;
        }
      }
    }
    .hit, .discount {
      position:      absolute;
      top:           2.5%;
      left:          5%;
      font-size:     16px;
      font-weight:   500;
      border-radius: 50px;
      padding:       2px 19px;
    }
    .hit {
      background: #FFC36B;
    }
    .discount {
      background: #FF7A51;
    }
    .item-image {
      display: block;
      cursor:  pointer;
    }
    .item-description {
      padding: 15px;
      > a {
        font-size:       16px;
        font-weight:     500;
        text-transform:  uppercase;
        margin-bottom:   8px;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
      }
      .description-icons {
        display:    flex;
        align-self: center;
      }
      .rating {
        margin-bottom: 8px;
      }
      .price {
        font-size: 18px;
        display:   inline-block;
      }
      .description-buttons {
        display:         flex;
        justify-content: space-between;
        flex-wrap:       wrap;
        align-items:     center;
      }
    }
  }
  .catalog-item, .product {
    padding:       0;
    width:         31%;
    margin-bottom: 6.55%;
    .item-image {
      height: 250px;
      img {
        height:     100%;
        object-fit: contain;
        padding:    10px;
      }
    }
    .item-description {
      padding: 15px;
      p, .characteristics-list {
        display:       none;
        margin-bottom: 15px;
      }
    }
    .item-buttons {
      display: none;
    }
  }
}

@media screen and (max-width: 1150px) {
  .products {
    .products-buttons {
      margin-bottom: 25px;
      .btn-contour {
        font-size:    16px;
        padding:      9px;
        margin-right: 15px;
      }
    }
    .products-slider {
      max-width: 1000px;
      margin:    0 auto;
    }
    .products-list {
      margin-bottom:   30px;
      justify-content: center;
    }
    .products-item, .product {
      box-shadow:    0 3px 10px 0 rgba(56, 69, 249, 0.14);
      border-radius: 8px;
      max-width:     300px;
      min-height:    232px;
      width:         92%;
      .btn {
        font-size:     14px;
        padding:       6px 0;
        border-radius: 3px;
        width:         calc(50% - 6px);
      }
      .share {
        width:  15px;
        height: 15px;
      }
      .favorites {
        width:        15px;
        height:       15px;
        margin-right: 10px;
      }
      .hit, .discount {
        top:       3%;
        font-size: 14px;
        padding:   1px 14px;
      }
      .item-image {
        margin-bottom: 7%;
      }
      .item-description {
        > a {
          font-size:     14px;
          margin-bottom: 2.9%;
        }
        .rating {
          margin-bottom: 2%;
          svg {
            width:  10px;
            height: 10px;
          }
        }
        .price {
          font-size: 16px;
        }
      }
    }
    .catalog-item, .product {
      width:  30%;
      margin: 0 10px 20px;
      .item-image {
        margin-bottom: 7.3%;
      }
      .item-description {
        p {
          font-size:     14px;
          line-height:   1.5;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .products {
    .products-buttons {
      margin:    0 auto 10px;
      max-width: 415px;
      .btn-contour {
        font-size:     12px;
        padding:       6px 12px;
        margin:        0 10px 10px 0;
        border-radius: 3px;
      }
    }
    .products-slider {
      .swiper-container {
        padding: 5px 0 35px;
        .swiper-pagination {
          display: block;
        }
      }
      .swiper-button-prev {
        left: 15px;
      }
      .swiper-button-next {
        right: 15px;
      }
    }
    .products-item {
      box-shadow:    0 3px 10px 0 rgba(56, 69, 249, 0.14);
      border-radius: 8px;
      min-height:    230px;
      max-width:     270px;
      .favorites {
        width:  17px;
        height: 15px;
      }
      .hit, .discount {
        left:      10px;
        font-size: 12px;
        padding:   1px 12px;
      }
      .item-description {
        > a {
          font-size:     14px;
          margin-bottom: 10px;
        }
        .rating {
          margin-bottom: 5px;
          svg {
            width:  10px;
            height: 10px;
          }
        }
      }
    }
    .catalog-item, .product {
      width:  44%;
      margin: 0 10px 20px;
      .item-description {
        .description-buttons {
          flex-wrap: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .products {
    .catalog-item, .product {
      width:     100%;
      max-width: 100%;
      .item-image {
        height: 200px;
      }
    }
  }
}
