@import "./variables";

@media (any-hover: hover) {
}

.reviews {
  h2 {
    margin-bottom: 3.5%;
  }
  h3 {
    text-transform: uppercase;
    font-weight:    500;
  }
  &-content {
    padding: 60px 0;
  }
  &-list {
    max-width:     1181px;
    margin-bottom: 5%;
  }
  &-item {
    padding-bottom: 20px;
    border-bottom:  1px solid $bgColor;
    margin-bottom:  20px;
    h5 {
      margin-right: 16px;
    }
    p {
      line-height: 1.4;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .item-title {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      margin-bottom:   10px;
      .rating {
        margin-right: auto;
        display:      flex;
        align-items:  center;
        svg {
          margin-right: 2px;
        }
      }
      .data {
        color:     $primaryColor;
        font-size: 14px;
      }
    }
  }
  .contact {
    padding-bottom: 0;
    .info {
      opacity: .4;
      margin:  8px 0 42px 0;
      width:   100%;
    }
    &-inner {
      align-items:    flex-start;
      flex-direction: column;
    }
    &-form {
      max-width:     1181px;
      margin-bottom: 0;
    }
    form {
      label {
        width: 49%;
      }
      .disabled {
        opacity:        .6;
        user-select:    none;
        pointer-events: none;
      }
      .textarea {
        width:         100%;
        margin-bottom: 18px;
      }
      .appraisal {
        display:       flex;
        align-items:   center;
        width:         100%;
        margin-bottom: 6%;
        p {
          color:        #707070;
          margin-right: 10px;
        }
      }
      .btn {
        max-width: 260px;
      }
    }
  }
  .notification_accept {
    max-width: 1181px;
    width:     60%;
  }
  .not-registered {
    text-align: left;
    padding:    0 0 40px 0;
  }
}

@media screen and (max-width: 1150px) {
  .reviews {
    h2 {
      margin-bottom: 30px;
    }
    h3 {
      font-size: 20px;
    }
    &-content {
      padding: 50px 0 60px;
    }
    &-list {
      margin-bottom: 50px;
    }
    &-item {
      padding-bottom: 15px;
      margin-bottom:  15px;
      h5 {
        margin-right: 10px;
      }
      p {
        line-height: 1.5;
      }
      .item-title {
        .rating {
          svg {
            width: 12px;
          }
        }
        .data {
          font-size: 12px;
        }
      }
    }
    .contact {
      &-form {
        max-width: 573px;
        width:     100%;
      }
      form {
        .textarea {
          margin-bottom: 24px;
        }
        .appraisal {
          margin-bottom: 35px;
          .rating {
            svg {
              width: 12px;
            }
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    .notification_accept {
      width:     100%;
      max-width: 573px;
    }
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    h2 {
      margin-bottom: 32px;
    }
    &-content {
      padding: 30px 0 50px;
    }
    &-item {
      h5 {
        margin: 0 10px 0 0;
      }
      &:last-child {
        border-bottom:  none;
        padding-bottom: 0;
      }
      .item-title {
        margin-bottom: 10px;
        flex-wrap:     wrap;
        .rating {
          width: 25%;
          svg {
            width: 10px;
          }
        }
        .data {
          font-size: 10px;
        }
      }
    }
    .contact {
      &-form {
        max-width: initial;
      }
      form {
        label {
          width: 100%;
        }
        .textarea {
          margin-bottom: 10px;
        }
        .appraisal {
          margin-bottom: 30px;
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}