@import "./variables";
@import "./animations";

.reviews-page {
  .content {
    padding: 60px 0;
  }
}

.reviews {
  h2 {
    text-align:    left;
    margin-bottom: 32px;
  }
  h3 {
    text-transform: uppercase;
    font-weight:    500;
  }
  &-list {
    max-width: 768px;
  }
  &-item {
    padding-bottom: 20px;
    border-bottom:  1px solid $bgColor;
    margin-bottom:  20px;
    h5 {
      margin-right: 16px;
    }
    p {
      line-height: 1.4;
      &.reviews-title {
        margin-top:  8px;
        font-weight: 700;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .item-title {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      margin-bottom:   10px;
      .rating {
        margin-right: auto;
        display:      flex;
        align-items:  center;
        svg {
          margin-right: 2px;
        }
      }
      .data {
        color:     $primaryColor;
        font-size: 14px;
      }
    }
    .item-description {
      display:         flex;
      align-items:     center;
      justify-content: space-between;
    }
    .actions {
      display:         flex;
      align-items:     center;
      justify-content: flex-start;
      margin-left:     20px;
      img {
        width:      24px;
        min-width:  24px;
        cursor:     pointer;
        transition: .3s linear;
        &:hover, &:active {
          opacity: .7;
        }
      }
    }
  }
  .info {
    opacity: .4;
    margin:  8px 0 42px 0;
    width:   100%;
  }
  &-inner {
    align-items:    flex-start;
    flex-direction: column;
    margin-bottom:  64px;
  }
  &-form {
    max-width:     768px;
    margin-bottom: 48px;
  }
  form {
    label {
      width:         49%;
      margin-bottom: 36px;
    }
    .disabled {
      opacity:        .6;
      user-select:    none;
      pointer-events: none;
    }
    .textarea {
      width:         100%;
      margin-bottom: 18px;
    }
    .appraisal {
      display:       flex;
      align-items:   center;
      width:         100%;
      margin-bottom: 32px;
      p {
        color:        #707070;
        margin-right: 10px;
      }
    }
    .btn {
      max-width: 260px;
    }
  }
  .notification_accept {
    max-width: 768px;
    width:     60%;
  }
  .not-registered {
    text-align: left;
    padding:    0;
  }
}

// animations
.reviews-page {
  .reviews-inner, .reviews-list {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
}

@media screen and (max-width: 1150px) {
  .reviews-page {
    .content {
      padding: 50px 0 60px;
    }
  }
  .reviews {
    h3 {
      font-size: 20px;
    }
    &-item {
      padding-bottom: 15px;
      margin-bottom:  15px;
      h5 {
        margin-right: 10px;
      }
      .item-title {
        .rating {
          svg {
            width: 12px;
          }
        }
        .data {
          font-size: 12px;
        }
      }
    }
    &-form {
      max-width: 573px;
      width:     100%;
    }
    form {
      .textarea {
        margin-bottom: 24px;
      }
      .appraisal {
        .rating {
          svg {
            width: 12px;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
    .notification_accept {
      width:     100%;
      max-width: 573px;
    }
  }
}

@media screen and (max-width: 767px) {
  .reviews-page {
    .content {
      padding: 30px 0 50px;
    }
  }
  .reviews {
    h2 {
      margin-bottom: 16px;
    }
    &-item {
      h5 {
        margin: 0 10px 0 0;
      }
      &:last-child {
        border-bottom:  none;
        padding-bottom: 0;
      }
      .item-title {
        margin-bottom: 10px;
        flex-wrap:     wrap;
        .rating {
          width: 25%;
          svg {
            width: 10px;
          }
        }
        .data {
          font-size: 10px;
        }
      }
    }
    &-inner {
      margin-bottom: 32px;
    }
    &-form {
      max-width: initial;
    }
    form {
      label {
        width:         100%;
        margin-bottom: 22px;

      }
      .textarea {
        margin-bottom: 10px;
      }
      .appraisal {
        margin-bottom: 16px;
        p {
          font-size: 12px;
        }
      }
    }
  }
}