@import "./variables";

@media (any-hover: hover) {
}

.services {
  h2 {
    margin-bottom: 5%;
  }
  .services-content {
    padding: 5.8% 0;
  }
  .services-list {
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 1100px) {
  .services {
    h2 {
      margin-bottom: 30px;
    }
    .services-content {
      padding: 50px 0;
    }
    .services-list {
      margin-bottom: 55px;
    }
  }
}

@media screen and (max-width: 767px) {
  .services {
    h2 {
      margin-bottom: 15px;
    }
    .services-content {
      padding: 30px 0 50px;
    }
    .services-list {
      margin-bottom: 45px;
    }
  }
}