/* Звёздный рейтинг для отзывов */
:root {
  --star_width:   22px;
  --star_bg:      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' %3E%3Cpath style='fill:%23DADADA' d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E");
  --star_bg_fill: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' %3E%3Cpath style='fill:%236A1B9A' d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E");
}

.rating {
  display:     flex;
  align-items: center;
  .reviews-count {
    margin-left: 10px;
    font-size:   12px;
    opacity:     .7;
  }
}

.rating__group {
  position:           relative;
  width:              calc(var(--star_width) * 5);
  height:             var(--star_width);
  background-image:   var(--star_bg);
  background-size:    var(--star_width) auto;
  background-repeat:  repeat-x;
  background-color:   transparent;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.rating__star {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  position:           absolute;
  top:                0;
  left:               0;
  height:             var(--star_width);
  margin:             0;
  font-size:          inherit;
  background-size:    var(--star_width) auto;
  background-repeat:  repeat-x;
  background-color:   transparent;
  cursor:             pointer;
  opacity:            1;
  border:             none;
  border-radius:      0;
  transition:         0.2s;
}

.rating__star:focus {
  outline: none;
}

.rating__star:checked,
.rating__star:hover {
  background-image: var(--star_bg_fill);
  width:            var(--star_width);
  height:           var(--star_width);
  background-size:  var(--star_width);
}

.rating__star:hover ~ .rating__star {
  background-image: var(--star_bg);
}

.rating__star:nth-child(1) {
  width:   var(--star_width);
  z-index: 5;
}

.rating__star:nth-child(2) {
  width:   calc(var(--star_width) * 2);
  z-index: 4;
}

.rating__star:nth-child(3) {
  width:   calc(var(--star_width) * 3);
  z-index: 3;
}

.rating__star:nth-child(4) {
  width:   calc(var(--star_width) * 4);
  z-index: 2;
}

.rating__star:nth-child(5) {
  width:   calc(var(--star_width) * 5);
  z-index: 1;
}
